*,
*::before,
*::after {
    box-sizing: border-box;
}

nav {
    font-family: 'Lato',
        sans-serif Arial,
        Helvetica,
        sans-serif;
}

.header_nav1 img {
    width: 280px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0px 0px 10px;
    position: relative;
    /* z-index: -1; */
    z-index: 8;
}

.header_navigation .header_nav1 {
    height: 138px;
    background-image: url("../assets/img_2/nav_background.png");
    background-image: no-repeat center;
}

.header_nav1_btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #ccc;
    position: relative;
    top: -70px;
    right: 40px;
}


.header_nav1 button,
p {
    color: rgb(148, 148, 148);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Lato',
        sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    /* margin-bottom: 40px; */


}

.header_nav1 button:hover {
    color: #fff
}

.header_nav1_btn p {
    padding: 0px 10px;
}

.header_nav2 {
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: 0.9px #fff solid;
}



.header_nav2 {

    /* margin:  auto;
    padding: auto; */
    width: 100%;
    text-align: center;

}

.header_nav2 ul {
    margin-top: 10px;

}

.header_nav2 ul li {
    display: inline;
    position: relative;
    color: #aaa;
    padding: 10px 40px;
    margin: 0;
    vertical-align: top;
    text-align: center;
    /* border-right: 1px solid #fff; */
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;


}

.header_nav2 ul li:hover {
    color: #fff;

}

a {
    text-decoration: none;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display:none;
}

.hamburger.focus {
    outline: none;
}

@media screen and (max-width: 900px) {
    .header_nav1 {
        display: none;
    }

    .header_nav2 {
        display: none;
    }

    .header_navigation {
        height: 90px;
        background-image: url("../assets/img_2/nav_background.png");
        background-image: no-repeat center;
    }
.header_nav1 img{
    height: 70px;
    width: 120px;
     z-index: 8;
}


    .header_navigation {
        /* content:url("../assets/img_2/mobile_Logo.png") !important; */

        content: url("../assets/img_2/logo.png") important !;
        /* background-size: 90px 30px; */
        
        /* margin-left:-45px; */
       
       
        /* padding: 0.5em 0px 0px 0px; */
        /* position: relative; */
        /* z-index: -1; */
       
    }

    .hamburger {
       
        display:block;
      

    }
}