.Ship_FullInfo {
  
    
     height: 1080px;
    display: flex;
    flex-direction: column;
    background-color: #303030;
    color:aliceblue;
}
.Ship_FullInfo img{
    display: block;
    margin: 80px auto;
    padding: auto;
    border-bottom: 2px red solid;
   
}
.Ship_FullInfo h1{
    padding-left: 60px;
}

/* .Ship_Info ul li {
    float: left;
    width: 50%
} */
/* .Ship_Info ul {
    
} */
.Ship_Info li{
list-style-type: none;
 
  /*see me */
    padding: 30px 30px;
}
ul.Ship_Info {
     -webkit-columns: 60px 2;
     -moz-columns: 60px 2;
     columns: 60px 2;
     -moz-column-fill: auto;
     column-fill: auto;
}
/* .Ship_Info{
    background-color: #303030;
} */
.pilots_films_cards{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    /* width: 100vw; */
}

.relatedPilots_names{
  background-color: #303030;
  color: #fff;
  width: 100%;
}
.relatedFilms_names{
  background-color: #303030;
  color: #fff;
  width: 100%;
}

.relatedfilms_names ul li{
    color: #fff;
}

.relatedPilots_names,
.relatedfilms_names h3 {
    padding: 5px 80px 120px;
}